<a href="/dashboard" class="back">&larr; عودة</a>
<div class="admin-title">
  <h2>إضافة وصفة جديدة</h2>
</div>

<form action="/add-post" method="POST">

  <label for="title"><b>العنوان</b></label>
  <input type="text" placeholder="العنوان" name="title">

  <label for="body"><b>المحتوى</b></label>
  <textarea name="body" cols="50" rows="10"></textarea>

  <input type="submit" value="أضف" class="btn">

</form>