<a href="/dashboard" class="back">&larr; عودة</a>
<div class="admin-title">
  <h2>تعديل الوصفة</h2>

  <form action="/delete-post/<%= data._id %>?_method=DELETE" method="POST">
    <input type="submit" value="حذف" class="btn-delete btn">
  </form>

</div>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="POST">

  <label for="title"><b>العنوان</b></label>
  <input type="text" placeholder="العنوان" name="title" value="<%= data.title %>">

  <label for="body"><b>المحتوى</b></label>
  <textarea name="body" cols="50" rows="10"><%= data.body %></textarea>

  <input type="submit" value="تعديل" class="btn">

</form>