<div class="author" dir="rtl">
  <h1 class="author__heading">نتائج البحث</h1>
</div>

<section class="articles" dir="rtl">

  <ul class="article-ul">
    <% data.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span><%= post.title %></span>
          <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
        </a>
      </li>
    <% }) %>
  </ul>


</section>