<header class="header_admin">
  <label class="header__admin__logo">صفحة الادمن</label>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="">الرئيسية</a>
      </li>
      <li>
        <a href="/about" class="">من نحن</a>
      </li>
      
    </ul>

  </nav>

  <div class="header__button">
    <% if (currentRoute !== '/signin' && currentRoute !== '/register') { %>
    <a href="/logout">
      تسجيل الخروج
    </a>
    <% } %>
  </div>

</header>