<header class="header">
  <a href="/" class="header__logo">صفحة الادمن</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="">الرئيسية</a>
      </li>
      <li>
        <a href="/about" class="">من نحن</a>
      </li>
      
    </ul>

  </nav>

  <div class="header__button">
    <a href="/logout">
      Logout
    </a>
  </div>

</header>