<header class="header">
  <a href="/" class="header__logo">وصفاتي</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="<%= isActiveRoute('/', currentRoute) %>">الرئيسية</a>
      </li>
      <li>
        <a href="/about" class="<%= isActiveRoute('/about', currentRoute) %>">من نحن</a>
      </li>
      <% if (locals.user) { %>
        <li>
          <a href="/dashboard" class="<%= isActiveRoute('/dashboard', currentRoute) %>">لوحة التحكم</a>
        </li>
        <% if (currentRoute !== '/signin') { %>
        <li>
          <a href="/logout">تسجيل الخروج</a>
        </li>
        <% } %>
      <% } else { %>
        <li>
          <a href="/signin" class="<%= isActiveRoute('/signin', currentRoute) %>">تسجيل الدخول</a>
        </li>
      <% } %>
    </ul>
  </nav>

  <div class="header__button">
    <form action="/search" method="POST" class="header__search">
      <input type="text" name="searchTerm" placeholder="ابحث عن وصفة..." autocomplete="off">
    </form>
  </div>
</header>